pygsheets
psycopg2-binary
numpy
requests
datetime
pandas
matplotlib
ipykernel
tabulate
impyla
openpyxl
pydrive
looker_sdk
snowflake-connector-python==2.7.6
pyarrow==6.0.0
scipy
treelib
jpype1==0.6.3
jaydebeapi
boto3
pystan
fbprophet
plotly
seaborn
flask
flask-login
flash-sqlalchemy
pandas-profiling
pivot_ui